@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&family=Ubuntu:wght@300&display=swap');

* {
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.3rem;
    background: -webkit-linear-gradient(#b95ce4,#4f29cd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.container .glass .erreur{
  font-family: 'Ubuntu', sans-serif;
    font-size: 2.3rem;
    background: -webkit-linear-gradient(#ff0000,#4f29cd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.container {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .glass {
    background: white;
    position: absolute;
    
    width: 97%;
    height: 92vh;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    );
    border-radius: 2rem;
    z-index: 1;
    backdrop-filter: blur(2rem);
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin:4vh 4vh 4vh 4vh;
    box-shadow: 5px 5px 5px  rgba(0,0,0,0.05);
                
    border-radius: 15px;
    flex-wrap: wrap;
    padding: 40px 0;
  }



.circle1,
.circle2 {
    position: inherit;
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
  height: 20rem;
  width: 20rem;
  position: absolute;
  border-radius: 50%;
}

.circle1 {
  top: 5%;
  right: 10%;
}
.circle2 {
  bottom: 5%;
  left: 10%;
}

/*Les Inputs */

.Wrapper {
    flex: 0 0 80%;
    max-width: 80%;
}

input[type=text], input[type=number] ,select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius:30px;
    box-sizing: border-box;
    background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  box-shadow: 5px 5px 5px  rgba(0,0,0,0.05);
  font-family: 'Ubuntu', sans-serif;
  }
 
  
  input[type=submit] {
    width: 60%;
    left: 20%;
    background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius:30px;
    align-items: center;
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: #03a9f7;
    color: #ffff;
    text-decoration: none;
    font-weight: 400;
    font-family: 'Ubuntu', sans-serif;
  }
  
  input[type=submit]:hover {
    background-color: #09ea63;
    font-size: 1rem;
    transition: 0.3s;
  }

  input[type=text]:focus , input[type=number]:focus {
    border: 3px solid ;
    border-color:#03a9f7;
    transition: 0.3s;
    font-size: 0.8rem;
    font-family: 'Ubuntu', sans-serif;
  }
  textarea:focus, input:focus{
    outline: none;
}


input[type="date"]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius:30px;
    box-sizing: border-box;
    background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  box-shadow: 5px 5px 5px  rgba(0,0,0,0.05);
  font-family: 'Ubuntu', sans-serif;
}

  
input[type=date]:focus {
    border: 3px solid ;
    border-color:#03a9f7;
    transition: 0.3s;
    font-size: 0.8rem;
    font-family: 'Ubuntu', sans-serif;
  }

  